<nav class="navbar navbar-expand-sm bg-primary navbar-dark"  >
  <ul class="navbar-nav"  >
    <li class="nav-item active">
      <h2>Welcome to Test Automater    </h2>
    </li>
    <li class="nav-item">
      <select class="selectpicker" style="height:100%">
		  <option>Run Test Suite 01</option>
		  <option>Run Test Suite 02</option>
		  <option>Run Test Suite 03</option>
	  </select>
    </li>
    <li class="nav-item">
      <button class="nav-link btn btn-secondary" (click)="runTest()">Run</button>
    </li>
  </ul>
</nav>