<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.username">testAutomator</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@maria.cq2oivzvgsvz.us-east-2.rds.amazonaws.com:1519:ORCL</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="com.revature.model.Test"></mapping>
		<mapping class="com.revature.model.TestSystem"></mapping>
		<mapping class="com.revature.model.TestModel"></mapping>
		<mapping class="com.revature.model.TestType"></mapping>

		<!-- <mapping resource="Employee.hbm.xml"></mapping>-->
		<!-- <mapping class="com.revature.model.Customer"></mapping> -->
	</session-factory>
</hibernate-configuration>